.login-container {
    background-color: white;
    border-radius: 10px;
    margin: calc((100vh - 480px) / 2) calc((100vw - 720px) / 2);
    position: fixed;
    width: 720px;
    height: 480px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    font-size: initial;
}
.panel {
    backdrop-filter: blur(4px);
    position: fixed;
    width: 360px;
    height: 480px;
    border-radius: 10px 0 0 10px;
    transition: transform 1s, border-radius 1s;
    overflow: hidden;
}
.panel-background {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    transition: opacity 1s linear;
}
.panel-background-1 {
    background: linear-gradient(135deg, #36F, #84A);
}
.panel-background-2 {
    background: linear-gradient(135deg, #84A, #E38);
}
.panel-background-hidden {
    opacity: 0.4;
}
.panel-text-container {
    display: grid;
    grid-template-columns: 360px 360px;
    transition: transform 1s;
}
.back-button {
    position: absolute;
    width: 40px;
    margin: 24px;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.5s, opacity 0.5s;
}
.back-button:hover {
    transform: translateX(-5px);
}
.panel-text {
    padding: 120px 32px;
    text-align: center;
    color: white;
    transition: transform 1s;
}
.panel-text > p {
    font-size: 1.1em;
    margin: 24px 0;
}
.panel-text > button {
    color: white;
    background-color: #0000;
    border: solid white 1px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
}
.panel-text > button:hover {
    background-color: #0005;
}
.panel-text > button:active {
    background-color: #0008;
}
.log-sig {
    text-align: center;
    transition: transform 1s, opacity 1s;
}
.log-sig > * {
    margin: 10px;
    padding: 10px;
}
.log-sig > input {
    background-color: #DDD;
    outline: none;
    border: none;
    border-radius: 5px;
}
.log-sig > input:focus {
    outline: solid #007D 2px;
}
.text-link {
    color: black;
    background: none;
    border: none;
    display: block;
    margin: 0 auto;
}
.text-link:hover {
    text-decoration: underline;
}
.admin-link {
    color: #660000;
}
.login > .log-sig-button {
    margin: 0;
}
.signup {
    padding: 70px 0;
    border-radius: 10px 0 0 10px;
}
.login {
    padding: 100px 0;
    border-radius: 0 10px 10px 0;
}