.notfound-sign-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notfound-sign {
    position: absolute;
    font-size: 2em;
    background: linear-gradient(120deg, #222B, #000);
    backdrop-filter: blur(4px);
    color: #EEF;
    padding: 24px;
    width: 320px;
    text-align: center;
    clip-path: polygon(0 90%, 10% 100%, 90% 100%, 100% 90%, 100% 10%, 90% 0, 10% 0, 0 10%);
    transform: rotate(-5deg);
}
.notfound-text {
    margin: 0;
}
.notfound-button {
    margin-top: 20px;
    font-size: 0.6em;
    padding: 10px;
}
.circle {
    position: fixed;
    border-radius: 100px;
}
.c1 {
    animation: c1 16s infinite ease-in-out;
    width: 8vmax;
    height: 8vmax;
    background-color: #63A6;
    filter: blur(7px);
}
.c2 {
    animation: c2 17s infinite ease-in-out;
    width: 6vmax;
    height: 6vmax;
    background-color: #83A5;
    filter: blur(3px);
}
.c3 {
    animation: c3 18s infinite ease-in-out;
    width: 7vmax;
    height: 7vmax;
    background-color: #66A6;
    filter: blur(9px);
}
.c4 {
    animation: c4 19s infinite ease-in-out;
    width: 4vmax;
    height: 4vmax;
    background-color: #83E3;
    filter: blur(3px);
}
.c5 {
    animation: c5 20s infinite ease-in-out;
    width: 7vmax;
    height: 7vmax;
    background-color: #65A5;
    filter: blur(6px);
}
.c6 {
    animation: c6 21s infinite ease-in-out;
    width: 5vmax;
    height: 5vmax;
    background-color: #85A4;
    filter: blur(4px);
}
.c7 {
    animation: c7 22s infinite ease-in-out;
    width: 8vmax;
    height: 8vmax;
    background-color: #63F3;
    filter: blur(8px);
}
.c8 {
    animation: c8 23s infinite ease-in-out;
    width: 6vmax;
    height: 6vmax;
    background-color: #42D3;
    filter: blur(7px);
}
@keyframes c1 {
    0% {transform: translate(15vw, 20vh)}
    50% {transform: translate(35vw, 35vh)}
    100% {transform: translate(15vw, 20vh)}
}
@keyframes c2 {
    0% {transform: translate(-35vw, -25vh)}
    50% {transform: translate(-20vw, -30vh)}
    100% {transform: translate(-35vw, -25vh)}
}
@keyframes c3 {
    0% {transform: translate(35vw, -25vh)}
    50% {transform: translate(30vw, 20vh)}
    100% {transform: translate(35vw, -25vh)}
}
@keyframes c4 {
    0% {transform: translate(-35vw, 40vh)}
    50% {transform: translate(-20vw, 30vh)}
    100% {transform: translate(-35vw, 40vh)}
}
@keyframes c5 {
    0% {transform: translate(-15vw, 15vh)}
    50% {transform: translate(0vw, -25vh)}
    100% {transform: translate(-15vw, 15vh)}
}
@keyframes c6 {
    0% {transform: translate(10vw, -10vh)}
    50% {transform: translate(30vw, -15vh)}
    100% {transform: translate(10vw, -10vh)}
}
@keyframes c7 {
    0% {transform: translate(-30vw, 30vh)}
    50% {transform: translate(-15vw, -30vh)}
    100% {transform: translate(-30vw, 30vh)}
}
@keyframes c8 {
    0% {transform: translate(-35vw, 25vh)}
    50% {transform: translate(-40vw, -30vh)}
    100% {transform: translate(-35vw, 25vh)}
}