.card-bouquet {
    margin: 10px;
    border: 1px #203 solid;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(#F9FA, #A8EA);
    backdrop-filter: blur(4px);
    display: grid;
    justify-items: center;
    width: 180px;
}
.card-picture-container-bouquet {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-bottom: 1px #203 solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: zoom-in;
}
.card-name-bouquet {
    margin: 10px;
    font-family: Balsamiq_Sans_Bold, serif;
    font-size: 1.1em;
    max-width: 160px;
}
.card-price-bouquet {
    margin: 5px;
    font-family: Balsamiq_Sans_Italic, serif;
}
.card-bouquet > button {
    margin: 5px 5px 10px;
    padding: 0;
    font-size: 0.9em;
    height: 36px;
    width: 100px;
    overflow: hidden;
}
.card-bouquet > .blue-button-2 {
    height: 48px;
}
.card-bouquet > button > p {
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s;
}
.card-flower {
    margin: 20px;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(270deg, #F9FA, #A8EA);
    backdrop-filter: blur(4px);
    display: grid;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    border: solid #73C 1px;
}
.card-flower div {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-picture-container-flower {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-right: solid #73C 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: zoom-in;
}
.card-name-flower {
    margin: 5px;
    font-family: Balsamiq_Sans_Bold, serif;
    font-size: 1em;
    grid-row: 1;
    grid-column: 2;
    max-width: 190px;
}
.card-price-flower {
    margin: 5px;
    font-family: Balsamiq_Sans_Italic, serif;
    grid-row: 2;
    grid-column: 2;
}
.card-flower > button {
    margin: 10px;
    padding: 0;
    font-size: 2em;
    height: 40px;
    width: 40px;
    color: white;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 3;
}
.blue-button-1 {
    background: radial-gradient(#C9F, #85F);
    border: black solid 1px;
}
.blue-button-1:hover {
    background: radial-gradient(#C9F, #A6F, #63F);
}
.blue-button-1:active {
    background: radial-gradient(#A6F, #63F);
}
.blue-button-2 {
    background: radial-gradient(#EDD, #A9D);
    border: black solid 1px;
}
.blue-button-2:hover {
    background: radial-gradient(#EDD, #A6F);
}
.blue-button-2:active {
    background: radial-gradient(#EDD, #95C);
}
.pink-button-1 {
    background: radial-gradient(#F9F, #F9C);
    border: #C69 solid 1px;
}
.pink-button-1:hover {
    background: radial-gradient(#F9F, #F9C, #FBE);
}
.pink-button-1:active {
    background: radial-gradient(#F9C, #FBE);
}
.pink-button-2 {
    background: radial-gradient(#F9C, #FCC);
    border: #D7A solid 1px;
}
.pink-button-2:hover {
    background: radial-gradient(#F9C, #FCC, #FEE);
}
.pink-button-2:active {
    background: radial-gradient(#FCC, #FEE);
}
.card-selected {
    display: grid;
    grid-template-columns: 120px 240px 120px;
    align-items: center;
    height: 120px;
    background-color: #FFF7;
    border: black solid 1px;
    border-radius: 5px;
}
.card-picture-container-selected {
    margin: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: zoom-in;
    border: solid black 1px;
}
.card-selected p {
    margin: 0;
}
.card-name-selected {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}
.card-info-selected {
    font-style: italic;
}
.card-price-selected {
    padding: 10px;
}
.add-sub-button-container-selected {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.add-sub-button {
    padding: 0;
    font-size: 2em;
    height: 40px;
    width: 40px;
    font-weight: bold;
}
.edit-button {
    background-size: 16px, cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translate(90px, -30px);
}
.edit-button:hover {
    background-size: 16px, cover;
    background-position: center;
    background-repeat: no-repeat;
}
.edit-button:active {
    background-size: 16px, cover;
    background-position: center;
    background-repeat: no-repeat;
}
.delete-button {
    background-image: url("../public/trash.png"), radial-gradient(#EDD, #A9D);
    filter: hue-rotate(75deg);
}
.delete-button:hover {
    background-image: url("../public/trash.png"), radial-gradient(#EDD, #A6F);
}
.delete-button:active {
    background-image: url("../public/trash.png"), radial-gradient(#EDD, #95C);
}
.update-button {
    background-image: url("../public/edit.png"), radial-gradient(#EDD, #A9D);
    filter: hue-rotate(205deg);
}
.update-button:hover {
    background-image: url("../public/edit.png"), radial-gradient(#EDD, #A6F);
}
.update-button:active {
    background-image: url("../public/edit.png"), radial-gradient(#EDD, #95C);
}
.card-custom {
    display: grid;
    grid-template-columns: 40px 360px 120px;
    gap: 10px;
    align-items: center;
    justify-items: left;
    border: black solid 1px;
    background: linear-gradient(90deg, #F9FA, #A8EA);
}
.card-picture-container-custom {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: zoom-in;
    border-right: solid black 1px;
}
.card-info-custom {
    margin: 0;
    font-style: italic;
    font-size: 0.8em;
}
.add-sub-button-container-custom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80px;
}
.add-sub-custom-button {
    border: black solid 1px;
    font-size: 1em;
    width: 32px;
    height: 32px;
}
.del-custom-button {
    width: 24px;
    height: 24px;
    transform: translate(90px, 4px);
}
.card-selected-custom {
    display: grid;
    grid-template-columns: 120px 300px 60px;
    align-items: center;
    padding-bottom: 10px;
    background-color: #FFF7;
    border: black solid 1px;
    border-radius: 5px;
}
.card-selected-custom p {
    margin: 0;
}
.card-flower-list {
    background-color: #FFF7;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    display: grid;
    gap: 10px;
}
.button-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-button-container-custom {
    position: initial;
}
.delete-button-custom {
    transform: none;
    width: 30px;
    height: 30px;
}
.button-bouquet {
    transform: none;
    width: 30px;
    height: 30px;
}
.drop-button-container-bouquet {
    right: 25px;
    top: 25px;
}
.drop-button-container-flower {
    right: 20px;
    bottom: -40px;
}
.button-flower {
    transform: none;
    width: 20px;
    height: 20px;
    border: #0004 solid 1px;
}
.update-button-container-bouquet {
    right: 60px;
    top: 25px;
}
.update-button-container-flower {
    right: 50px;
    bottom: -40px;
}