.flowers {
    grid-column-start: 2;
    margin: 20px 10vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: linear-gradient(90deg, #696eff99, #f8acff99);
    backdrop-filter: blur(4px);
    border: solid #669 3px;
    border-radius: 6px;
    padding: 20px;
}
.list-of-flowers-container {
    display: grid;
    grid-auto-flow: column;
}
.list-of-flowers-search {
    margin: 10px 20px;
    padding: 5px;
    font-size: 1em;
    background-color: #669A;
    color: #BDB;
    border: #669F solid 1px;
    outline: none;
}
.list-of-flowers-search:hover {
    background-color: #669F;
}
.list-of-flowers-search:focus {
    background-color: #77AA;
    color: #DFD;
    outline: #649F solid 2px;
}
.list-of-flowers {

}
.selected-flowers-container {
    margin: 20px;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 20px;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    max-height: calc(100vh - 80px);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #80F2;
    overflow-y: scroll;
    overflow-x: hidden;
}
.selected-flowers {
    font-size: 1.4em;
}
.selected-flowers h1 {
    margin-top: 0;
}
.bouquet-created {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1.4em;
}
.selected-flowers-price {
    font-style: italic;
    font-size: 1.4em;
    text-align: right;
    margin: 20px 100px 20px 20px;
    width: 100%;
}
.medium-button {
    font-size: 0.8em;
    width: 160px;
}
.bouquet-created .dark-button {
    max-width: 100px;
    color: black;
    filter: hue-rotate(320deg) brightness(110%);
    background-color: #0000;
    border-width: 2px;
}
.bouquet-created .dark-button:hover {
    background-color: #0000;
    color: black;
    filter: hue-rotate(300deg) brightness(110%);
}
.bouquet-created .dark-button:active {
    background-color: #0000;
    border-width: 2px;
    filter: hue-rotate(280deg) brightness(110%);
}
.search-block {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 280px;
    margin: 0 20px;
    gap: 10px;
}
.search-text {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
}
.search-price {
    margin: 0;
    width: 120px;
}