.flowers {
    grid-column-start: 2;
    margin: 20px 10vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #030A;
    background: linear-gradient(90deg, #696eff99, #f8acff99);
    backdrop-filter: blur(4px);
    border: solid black 1px;
    border: solid #669 3px;
    border-radius: 6px;
    padding: 20px;
}
.list-of-flowers-container {
    display: grid;
    grid-auto-flow: column;
}
.list-of-flowers-search {
    margin: 10px 20px;
    padding: 5px;
    font-size: 1em;
    background-color: #030A;
    background-color: #669;
    color: #BDB;
    border: #030F solid 1px;
    outline: none;
}
.list-of-flowers-search:focus {
    background-color: #030F;
    outline: #020F solid 2px;
}
.list-of-flowers {

}
.block_ {
    width: 320px;
    height: 120px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}
.block_:after {
    content: "FLOWER";
    line-height: 120px;
    font-size: 2em;
}
.selected-flowers-container {
    color: #BDB;
    color: black;
    margin: 20px;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 20px;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    max-height: calc(100vh - 40px);
}
.selected-flowers {
    font-size: 1.4em;
}
.bouquet-created {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1.4em;
}
.selected-flowers-container > button {
    font-size: 0.8em;
    width: 160px;
}