@font-face {
    font-family: Dancing_Script_Bold;
    src: url("../public/Dancing_Script/DancingScript-Bold.ttf") format("truetype");
}
.header {
    height: 64px;
    backdrop-filter: blur(4px);
    border: #ECF solid 1px;
    padding: 12px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px
}
.header-purple {
    background-color: #E7B7;
}
.header-blue {
    background-color: #A4F7;
}
.system {
    background-color: #0089;
}
.logo-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 18px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    width: 160px;
}
.logo-image {
    margin-left: 20px;
    height: 60px;
}
.logo-name {
    margin: 0;
    font-size: 1.4em;
    color: #ECF;
    font-family: Dancing_Script_Bold, serif;
}
.search {
    width: 400px;
    height: 32px;
    padding: 5px;
    border: #303 solid 1px;
    border-radius: 8px;
    outline: none;
    font-size: 1em;
    background: linear-gradient(135deg, #B9E, #A8F);
}
.search:focus {
    border: none;
    outline: #303 solid 2px;
    background: linear-gradient(135deg, #DBF, #B9F);
}
.search-light {
    border: #006 solid 1px;
    background: linear-gradient(135deg, #9BE, #8AF);
}
.search-light:focus {
    border: none;
    outline: #006 solid 2px;
    background: linear-gradient(135deg, #BDF, #9BF);
}
@media screen and (max-width: 1000px) {
    .search {
        width: calc(40vw);
    }
}
@media screen and (max-width: 800px) {
    .search {
        width: calc(40vw);
    }
}
.user {
    display: flex;
}