@font-face {
    font-family: WDXLLubrifontTC-Regular;
    src: url("../public/WDXLLubrifontTC-Regular.ttf") format("truetype");
}
p {
    margin: 0;
}
body {
    margin: 0;
    font-family: WDXLLubrifontTC-Regular, serif;
    overflow-x: hidden;
    font-size: 1.2em;
}
button {
    font-family: WDXLLubrifontTC-Regular, serif;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
}
input{
    font-family: WDXLLubrifontTC-Regular, serif;
}