@font-face {
    font-family: Balsamiq_Sans_Regular;
    src: url("balsamiq_sans/BalsamiqSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Balsamiq_Sans_Bold;
    src: url("balsamiq_sans/BalsamiqSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: Balsamiq_Sans_Italic;
    src: url("balsamiq_sans/BalsamiqSans-Italic.ttf") format("truetype");
}
@font-face {
    font-family: Balsamiq_Sans_Bold_Italic;
    src: url("balsamiq_sans/BalsamiqSans-BoldItalic.ttf") format("truetype");
}
body {
    margin: 0;
    font-family: Balsamiq_Sans_Regular, serif;
    overflow-x: hidden;
}
button {
    font-family: Balsamiq_Sans_Regular, serif;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
input{
    font-family: Balsamiq_Sans_Regular, serif;
}
.default-button {
    background: linear-gradient(135deg, #77F9, #FAF9);
    border-left: solid #369 2px;
    border-top: solid #369 2px;
    border-right: solid #54A 2px;
    border-bottom: solid #54A 2px;
    backdrop-filter: blur(4px);
}
.default-button:hover {
    color: #404;
    background: linear-gradient(135deg, #88F9, #FCF9);
}
.default-button:active {
    background: linear-gradient(90deg, #77F9, #FAF9);
    border-left: solid #54A 2px;
    border-top: solid #54A 2px;
    border-right: solid #369 2px;
    border-bottom: solid #369 2px;
}
.large-button {
    font-size: 1.2em;
    padding: 8px 20px;
    max-width: 10em;
}
.dark-button {
    background: #203A;
    border-left: solid #314F 3px;
    border-top: solid #314F 3px;
    border-right: solid #203F 3px;
    border-bottom: solid #203F 3px;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    color: #DBD;
}
.dark-button:hover {
    color: #FDF;
    background: #203A;
}
.dark-button:active {
    background: #202A;
    border-left: solid #203F 3px;
    border-top: solid #203F 3px;
    border-right: solid #314F 3px;
    border-bottom: solid #314F 3px;
}
.azure-button {
    background: linear-gradient(#07F9, #0AF9);
    border-left: solid #069 2px;
    border-top: solid #069 2px;
    border-right: solid #04A 2px;
    border-bottom: solid #04A 2px;
}
.azure-button:hover {
    color: #004;
    background: linear-gradient(#08F9, #0CF9);
}
.azure-button:active {
    background: linear-gradient(#07F9, #0AF9);
    border-left: solid #04A 2px;
    border-top: solid #04A 2px;
    border-right: solid #069 2px;
    border-bottom: solid #069 2px;
}