@font-face {
    font-family: Balsamiq_Sans_Regular;
    src: url("Balsamiq_Sans/BalsamiqSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Balsamiq_Sans_Bold;
    src: url("Balsamiq_Sans/BalsamiqSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: Balsamiq_Sans_Italic;
    src: url("Balsamiq_Sans/BalsamiqSans-Italic.ttf") format("truetype");
}
@font-face {
    font-family: Balsamiq_Sans_Bold_Italic;
    src: url("Balsamiq_Sans/BalsamiqSans-BoldItalic.ttf") format("truetype");
}
p {
    margin: 0;
}
body {
    margin: 0;
    font-family: Balsamiq_Sans_Regular, serif;
    overflow-x: hidden;
}
button {
    font-family: Balsamiq_Sans_Regular, serif;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
input{
    font-family: Balsamiq_Sans_Regular, serif;
}