.notfound-sign-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notfound-sign {
    position: absolute;
    font-size: 3em;
    background: linear-gradient(120deg, #222B, #000);
    backdrop-filter: blur(4px);
    color: #EEF;
    padding: 24px;
    width: 320px;
    text-align: center;
    clip-path: polygon(0 90%, 10% 100%, 90% 100%, 100% 90%, 100% 10%, 90% 0, 10% 0, 0 10%);
    transform: rotate(-5deg);
}
.notfound-text {
    margin: 0;
}
.notfound-button {
    font-size: 0.35em;
    padding: 10px;
    background: #203A;
    border-left: solid #314F 3px;
    border-top: solid #314F 3px;
    border-right: solid #203F 3px;
    border-bottom: solid #203F 3px;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    color: #DBD;
}
.notfound-button:hover {
    color: #FDF;
    background: #203A;
}
.notfound-button:active {
    background: #202A;
    border-left: solid #203F 3px;
    border-top: solid #203F 3px;
    border-right: solid #314F 3px;
    border-bottom: solid #314F 3px;
}