.main-body {
    display: grid;
    grid-template-columns: 100vw 100vw;
    transition: transform 1s;
}
.bouquets-container {
    transform-origin: top;
    transition: transform 1s;
}
.flowers-container {
    transform-origin: top;
    transition: transform 1s;
}
.sub-header {
    margin: 0 96px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.to-flowers {
    font-size: 1.2em;
    width: 7em;
}
.to-flowers-container {
    transform: translateX(0);
    transition: transform 1s ease-in-out;
    grid-column-start: 2;
}
.to-bouquets {
    font-size: 1.2em;
    width: 9em;
}
.to-bouquets-container {
    transform: translateX(-50vw);
    transition: transform 1s ease-in-out;
}